.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fffbf2;
}
.headerNav {
  display: flex;
  gap: 20px;
}

a.active {
  text-decoration: underline;
}
